<button class="btn-info" ngbButtonLabel *ngIf='showResponceFileParam' (click)='showResponceFileParams(false)'>Hide
  Params</button>
<button class="btn-info" ngbButtonLabel *ngIf='showResponceFileParam' (click)='addResponceFileParam()'>Add
  Param</button>

<button class="btn-info" ngbButtonLabel *ngIf='!showResponceFileParam' (click)='showResponceFileParams(true)'>Show
  Params</button>

<div [hidden]="!showResponceFileParam">
  <div *ngIf='responceFileParams' class="panel panel-primary">
    <div class="panel-heading">List of Params</div>
    <div *ngFor="let param of responceFileParams | async">
      <div class="panel-body">
        <app-details-responce-file-param [param]='param'></app-details-responce-file-param>
      </div>
    </div>
  </div>
</div>
