<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container mb-3 w-100" *ngIf="param">
  <div class="row mt-4">
    <div class="col-12 py-1 bg-secondary">
      <h4 class="m-auto text-center text-white">Equipe {{stageResult.team}} / Epreuve {{stageResult.stage}}</h4>
    </div>
  </div>
  <!-- Begin / end dates -->
  <div class="row mt-2 justify-content-center">
    <!-- Begin date -->
    <div class="col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-2 m-2 p-0 border">
      <label class="raw col-12 m-0 p-1 text-center">Début :</label>
      <div class="raw col-12 m-0 p-1 justify-content-center input-group">
        <input class="form-control rounded-left" placeholder="yyyy-mm-dd" name="dp" formControlName="begindate"
          ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar rounded-right" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
      <div class="row col-12 m-0 p-1 justify-content-center">
        <ngb-timepicker formControlName="begintime" seconds="true" [spinners]="false"></ngb-timepicker>
      </div>
    </div>
    <!-- End date -->
    <div class="col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-2 m-2 p-0 border">
      <label class="raw col-12 m-0 p-1 text-center">Fin :</label>
      <div class="raw col-12 m-0 p-1 justify-content-center input-group">
        <input class="form-control rounded-left" placeholder="yyyy-mm-dd" name="dp" formControlName="enddate"
          ngbDatepicker #e="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar rounded-right" (click)="e.toggle()" type="button"></button>
        </div>
      </div>
      <div class="row col-12 m-0 p-1 justify-content-center">
        <ngb-timepicker formControlName="endtime" seconds="true" [spinners]="false"></ngb-timepicker>
      </div>
    </div>
  </div>
  <div class="row col-12 m-0 p-1 justify-content-center">
    <div class="btn-group" *ngIf="stageResult && stageResult.begin && !stageResult.end">
      <button class="btn btn-success" type="button" (click)="onStopStage()">Terminer</button>
      <button class="btn btn-danger" type="button" (click)="onCancelStage()">Annuler</button>
    </div>
    <div class="btn-group" *ngIf="stageResult && stageResult.begin && stageResult.end">
      <button class="btn btn-danger" type="button" (click)="onUndoStage()">Reprendre</button>
    </div>
    <div class="btn-group" *ngIf="!stageResult || !stageResult.begin">
      <button class="btn btn-success" type="button" (click)="onStartStage()">Commencer</button>
    </div>
  </div>
  <!-- Questions on response sheets -->
  <!-- TODO formatage si la page n'est pas encore importée -->
  <!-- TODO Ne pas afficher "Equipe x / Epreuve x / Page x" -->
  <!-- TODO Placer les boutons sous les questions en mode petit écran -->
  <div *ngFor="let page of pages.controls" class="row">
    <div class="col-12">
      <div class="row mt-4">
        <div class="col-12 py-1 bg-light">
          <h5 class="m-auto text-center">Questions sur la page {{page.value.page}} du formulaire de réponses</h5>
        </div>
      </div>
      <div class="row mt-2">
        <!-- The response sheets are displayed only on medium or bigger screens -->
        <ng-template [ngIf]="files[page.value.page]">
          <div class="col-md-12 col-xxl-10 d-none d-md-block">
            <div class="row justify-content-center">
              <app-details-response-file [fileUpload]="files[page.value.page]" [dragable]="false" class="border">
              </app-details-response-file>
              <app-response-file-actions [responseFileInfo]="files[page.value.page]" (checkedEvent)="reload()"
                (deleteEvent)="reload()"></app-response-file-actions>
            </div>
          </div>
          <!-- If the screen is extra-large, the switches are displayed on the right of the sheet only -->
          <!-- else the switches are displayed below the sheet                                         -->
          <div class="col-12 col-xxl-2 h-xxl-100">
            <ng-container
              *ngTemplateOutlet="resultlist; context: { results: getResultForms(page), performances: getPerformanceForms(page), forpage: true }">
            </ng-container>
          </div>
        </ng-template>
        <ng-template [ngIf]="!files[page.value.page]">
          <div class="col-12">
            <ng-container
              *ngTemplateOutlet="resultlist; context: { results: getResultForms(page), performances: getPerformanceForms(page), forpage: false }">
            </ng-container>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <!-- Questions without response sheets -->
  <div class="row mt-4">
    <div class="col-12 py-1 bg-light">
      <h5 class="m-auto text-center">Questions hors formulaire de réponses</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-container
        *ngTemplateOutlet="resultlist; context: { results: getResultForms(form), performances: getPerformanceForms(form), forpage: false }">
      </ng-container>
    </div>
  </div>
  <ng-template #resultlist let-results="results" let-performances="performances" let-forpage="forpage">
    <div [ngClass]="{'row': true, 'd-none': true ,'h-25': forpage, 'd-xxl-block': forpage}">
    </div>
    <ng-template [ngIf]="results.controls.length > 0">
      <div class="row mt-2" *ngIf="performances.controls.length > 0">
        <div class="col-12 py-1 border border-light">
          <h6 class="m-auto text-center">Questions</h6>
        </div>
      </div>
      <div class="row mt-2">
        <div *ngFor="let result of results.controls"
          [ngClass]="{'col-3': true, 'col-md-2': true, 'col-xxl-1': !forpage ,'col-xxl-12': forpage}">
          <div [formGroup]="result" class="row align-items-center" style="height: 32px;">
            <label class="col-8 my-auto small text-right">{{result.value.name}}</label>
            <app-toggle-switch formControlName="resultValue" class="col-4 my-auto px-1 py-0"
              [light]="result.value.light && result.value.resultValue == result.value.init ">
            </app-toggle-switch>
          </div>
        </div>
      </div>
    </ng-template>
    <!-- Performances -->
    <div *ngIf="performances.controls.length > 0">
      <div class="row mt-2" *ngIf="results.controls.length > 0">
        <div class="col-12 py-1 border border-light">
          <h6 class="m-auto text-center">Performances</h6>
        </div>
      </div>
      <div class="row mt-2">
        <div *ngFor="let performance of performances.controls" class="col-6 col-md-4 col-lg-3 col-xl-2">
          <div [formGroup]="performance" class="row">
            <label class="col-4 my-auto small text-right">{{performance.value.name}}</label>
            <div class="col-8 m-0 px-1 py-0 justify-content-start ">
              <input type=number step=any formControlName="performanceValue" class="col-auto small" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- Validation -->
  <div class="row mt-4">
    <div class="col-12 py-1 bg-light">
      <h5 class="m-auto text-center">Validation de la correction</h5>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div *ngIf="stageResult?.checked" class="text-center align-middle mx-2 px-1 py-0">
      <button class="btn btn-danger" type="submit" (click)="form.patchValue({checked: false})">Invalider</button>
    </div>
    <div *ngIf="stageResult && !stageResult.checked" class="text-center align-middle mx-2 px-1 py-0">
      <button class="btn btn-success" type="submit" [disabled]="!validable"
        (click)="form.patchValue({checked: true})">Valider</button>
    </div>
    <div class="text-center align-middle mx-2 px-1 py-0">
      <button class="btn btn-primary" type="submit">Enregister</button>
    </div>
  </div>
</form>
