<div class="container-fluid">

  <header class="row mt-4 text-center">
    <div class="col-12">
      <h1>Correction des épreuves</h1>
    </div>
  </header>

  <div class="row justify-content-center mt-4 mb-5">
    <main class="col-12">

      <div *ngIf='stages'>
        <div *ngFor="let stage of stages">

          <div class="row justify-content-center my-4">
            <div class="col-12">
              <app-details-stage [stage]='stage.stage' [team]='stage.team'></app-details-stage>
            </div>
          </div>

        </div>
      </div>

    </main>
  </div>
</div>


