<div *ngIf="!isSelected && selecteds.length > 0" class="row">
  <div class="col bg-warning mx-auto text-center"><strong>Cette page a déjà été importée !</strong></div>
</div>
<div class="d-flex justify-content-center mt-2 text-center">
  <div class="btn-group d-flex justify-content-center flex-wrap">
    <button type="button" *ngIf="!responseFileInfo.checked && selecteds.length === 0" class="btn btn-success"
      (click)="check()">Accepter</button>
    <button type="button" *ngIf="!responseFileInfo.checked && !isSelected && selecteds.length > 0"
      class="btn btn-success" (click)="replace()">Accepter et utiliser cette feuille</button>
    <button type="button" *ngIf="responseFileInfo.checked && !isSelected && selecteds.length > 0"
      class="btn btn-success" (click)="replace()">Utiliser cette feuille</button>
    <button type="button" class="btn btn-danger" (click)="delete()">Supprimer</button>
    <div class="btn-group" role="group"
      *ngIf="displaySelectedResponseFile || displaySelectablesResponseFile || displayKeptResponseFile || responseFileInfo.checked"
      [class.show]="actionsMenuOpen">
      <button type="button" class="btn btn-primary dropdown-toggle" (click)="toggleActionsMenu()">...</button>
      <div class="dropdown-menu" [class.show]="actionsMenuOpen">
        <button type="button" class="dropdown-item" *ngIf="displaySelectedResponseFile"
          (click)="showSelectedResponseFile(); closeActionsMenu();">Afficher la feuille de réponse actuelle</button>
        <button type="button" class="dropdown-item" *ngIf="displaySelectablesResponseFile"
          (click)="showSelectablesResponseFile(); closeActionsMenu();">Choisir une autre feuille de réponse</button>
        <button type="button" class="dropdown-item" *ngIf="displayKeptResponseFile" (click)="check(); closeActionsMenu();">Conserver cette
          feuille</button>
        <button type="button" class="dropdown-item" *ngIf="responseFileInfo.checked" (click)="uncheck(); closeActionsMenu();">Remettre cette
          feuille à valider</button>
      </div>
    </div>
  </div>
</div>
