<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h4 class="modal-title mb-0 text-center flex-fill">Formulaire de réponses</h4>
    <button type="button" class="btn btn-danger text-white w-auto px-3 py-2 d-flex align-items-center justify-content-center ml-4" style="min-width:2.5rem;min-height:2.5rem;line-height:1;padding:0.4rem 0.6rem;" aria-label="Close"
      (click)="dialogRef.close()">&times;</button>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <div class="card-body">
      <div class="form-group">
        <label for="stage">Épreuve</label>
        <input type="number" class="form-control" id="stage" formControlName="stage" readonly>
      </div>
      <div class="form-group">
        <label for="page">Page</label>
        <input type="number" class="form-control" id="page" formControlName="page">
      </div>
      <div class="form-group">
        <label for="template">Template</label>
        <textarea class="form-control" id="template" formControlName="template" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label class="form-label">Importer un template</label>
        <input type="file" class="form-control-file" (change)="selectFile($event.target.files)">
        <small class="form-text text-muted" #labelImportText></small>
      </div>
      <div class="form-group">
        <label class="form-label">Importer un modèle</label>
        <input type="file" accept="image/*" class="form-control-file" (change)="selectFileModel($event.target.files)">
        <small class="form-text text-muted" #labelImportModelText></small>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <div class="d-flex">
        <button class="btn btn-success" [disabled]="!myForm.valid">Valider</button>
      </div>
    </div>
  </form>
</div>
