<div class="container mb-5">

  <div class="row mt-4 page-title-actions-row">
    <div class="col-9">
      <h1 id="ranking_title" class="text-center page-title-with-subtitle">Paramétrage des équipes<span class="page-title-subtitle">Liste des équipes</span></h1>
    </div>
    <div class="col-3 m-auto p-0 text-center">
      <button class="btn btn-success w-auto"  (click)='addTeamInfo()'>Ajouter une équipe</button>
    </div>
  </div>

  <div *ngIf='teamInfos' class="row justify-content-center">
    <div class="col-12 data-table-fit">

      <div class="row mt-4 table-title-row">
        <div class="col-12 px-0 py-1 bg-secondary">
          <h4 class="my-auto text-center text-white">Liste des équipes</h4>
        </div>
      </div>

      <div class="row mt-0">
        <div class="px-0 table-responsive text-nowrap">
          <table class="table table-sm align-items-center team-param-table">
            <thead class="bg-light">
              <tr>
                <th scope="col" class="align-middle compact-column">#</th>
                <th scope="col" class="align-middle fluid-column">Équipe</th>
                <th scope="col" class="align-middle table-actions-column text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let teamInfo of teamInfos">
                <th scope="row" class="align-middle compact-column">{{teamInfo.team}}</th>
                <td class="align-middle fluid-column">{{teamInfo.name}}</td>
                <td class="align-middle table-actions-column text-right">
                  <div class="d-flex justify-content-end align-items-center">
                    <button type="button" class="btn btn-primary btn-sm table-action-button mr-2" 
                      (click)='modifyTeamInfo(teamInfo)'>Modifier</button>
                    <button type="button" class="btn btn-danger btn-sm table-action-button" 
                      (click)='deleteTeamInfo(teamInfo)'>Supprimer</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
