<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h4 class="modal-title mx-auto mb-0 flex-fill text-center">Équipe</h4>
    <button type="button" class="btn btn-danger text-white w-auto px-3 py-2 d-flex align-items-center justify-content-center ml-4" style="min-width:2.5rem;min-height:2.5rem;line-height:1;padding:0.4rem 0.6rem;" aria-label="Close"
      (click)="dialogRef.close()">&times;</button>
  </div>
  <form [formGroup]="teamForm" (ngSubmit)="submitForm()">
    <div class="card-body">
      <div class="container">
        <div class="form-group">
          <label for="team">Équipe</label>
          <input type="number" class="form-control" formControlName="team"
            [ngClass]="{ 'is-invalid': teamForm.controls.team.errors }">
          <div *ngIf="teamForm.controls.team.errors" class="invalid-feedback">
            <div *ngIf="teamForm.controls.team.errors.required">Le numéro d'équipe est requis</div>
            <div *ngIf="teamForm.controls.team.errors.min">Le numéro doit être un nombre positif</div>
            <div *ngIf="teamForm.controls.team.errors.uniqueTeam">Ce numéro d'équipe existe déjà</div>
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="name">Nom</label>
          <input type="text" class="form-control" formControlName="name"
            [ngClass]="{ 'is-invalid': teamForm.controls.name.errors }">
          <div *ngIf="teamForm.controls.name.errors" class="invalid-feedback">
            <div *ngIf="teamForm.controls.name.errors.required">Le nom d'équipe est requis</div>
            <div *ngIf="teamForm.controls.name.errors.uniqueName">Ce nom d'équipe existe déjà</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <div class="d-flex">
        <button class="btn btn-success" [disabled]="!teamForm.valid">
          Valider
        </button>
      </div>
    </div>
  </form>
</div>
