<div class="container mb-5">
  <div class="row mt-4 text-center">
    <h1 class="col-12">Classements des équipes</h1>
  </div>
  <div class="row justify-content-center d-print-none">
    <label for="viewGeneralPoints">Afficher les points du classement général</label>
    <app-toggle-switch [checked]="viewGeneralPoints" id="viewGeneralPoints" class="ml-2 mr-5"
      (change)="viewGeneralPoints = !viewGeneralPoints">
    </app-toggle-switch>
    <label for="viewPoints">Afficher les points des épreuves</label>
    <app-toggle-switch [checked]="viewPoints" id="viewPoints" class="ml-2" (change)="viewPoints = !viewPoints">
    </app-toggle-switch>
  </div>
  <div class="row justify-content-center d-print-none">
    <button class="btn-primary" ngbButtonLabel (click)='exportExcel()'>Télécharger</button>
  </div>
  <div class="row justify-content-center">
    <app-ranking class="col-12" rankingTitle="Classement général" [teamRanking]="generalRanking" [teamInfos]="teamInfos"
      [viewPoints]="viewGeneralPoints">
    </app-ranking>
  </div>
  <div class="row justify-content-center">
    <app-ranking class="col-12" *ngFor="let stageRank of stageRanking | keyvalue: keyOrder"
      [rankingTitle]="stageParams[stageRank.key]?.name" [teamRanking]="stageRank.value" [teamInfos]="teamInfos"
      [viewPoints]="viewPoints">
    </app-ranking>
  </div>
</div>
