TemplateFileName: C:\Users\baali\Documents\Rallye Schema\model.xtmpl
spring:
  data:
    mongodb:
      database: rallye-schema-form-scanner
      host: localhost
      port: 27017
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size: 215MB

---
spring:
  profiles: test
  data:
    mongodb:
      database: rallye-schema-test
      host: localhost
      port: 27017 

