<div class="modal-header">
  <h4 class="modal-title">Création d'une épreuve</h4>
  <button type="button" class="btn btn-danger text-white w-auto px-3 py-2 d-flex align-items-center justify-content-center" style="min-width:2.5rem;min-height:2.5rem;line-height:1;padding:0.4rem 0.6rem;" aria-label="Close"
    (click)="activeModal.dismiss('Cross click')">&times;</button>
</div>
<form [formGroup]="stageParamForm" (ngSubmit)="submitForm()">
  <div class="modal-boy">
    <div class="container">
      <div class="form-group">
        <label for="stage">Numéro de l'épreuve</label>
        <input type="number" class="form-control" formControlName="stage" min="0" pattern="^[0-9]*"
          [ngClass]="{ 'is-invalid': stageParamForm.controls.stage.errors }">
        <div *ngIf="stageParamForm.controls.stage.errors" class="invalid-feedback">
          <div *ngIf="stageParamForm.controls.stage.errors.required">Le numéro de l'épreuve est requis.</div>
          <div *ngIf="stageParamForm.controls.stage.errors.uniqueStage">Ce numéro d'épreuve est déjà utilisé.</div>
          <div *ngIf="stageParamForm.controls.stage.errors.pattern">Ce numéro d'épreuve est invalide.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="page">Nom de l'épreuve</label>
        <input type="text" class="form-control" formControlName="name"
          [ngClass]="{ 'is-invalid': stageParamForm.controls.name.errors }">
        <div *ngIf="stageParamForm.controls.name.errors" class="invalid-feedback">
          <div *ngIf="stageParamForm.controls.name.errors.required">Le nom de l'épreuve est requis.</div>
        </div>
      </div>
      <div class="form-group">
        <label>Groupe d'épreuves</label>
        <select class="form-control" formControlName="group">
          <option [ngValue]="null">Aucun groupe</option>
          <option *ngFor="let group of stageGroups" [ngValue]="group">
            {{ group.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button class="btn btn-success w-auto" [disabled]="!stageParamForm.valid">
      Valider
    </button>
  </div>
</form>





