HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

# Keep keystore ignored even though src/main is re-included
src/main/resources/keystore-local.p12

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
