<div class="data-table-fit" [class.presentation-ranking]="presentationMode">
<div class="row mt-4">
  <h4 id="ranking_title" class="col-12 px-0 py-1 bg-secondary my-auto text-center text-white">{{rankingTitle}}</h4>
</div>
<div class="row mt-0">
  <table class="col-12 table table-sm align-items-center ranking-table" aria-describedby="ranking_title"
    [appSyncTableColumns]="synchronizeColumns && !presentationMode ? 'rankings' : null"
    *ngIf="teamRanking" #ranking_table>
    <colgroup class="ranking-print-columns" *ngIf="!synchronizeColumns">
      <col class="ranking-rank-column">
      <col class="ranking-team-column">
      <col class="ranking-name-column">
      <col *ngIf="reservePerformanceColumn" class="ranking-performance-column">
      <col *ngIf="viewPoints" class="ranking-points-column">
    </colgroup>
    <thead class="bg-light">
      <tr>
        <th scope="col" class="align-middle compact-column">Classement</th>
        <th scope="col" class="align-middle compact-column">N° d'équipe</th>
        <th scope="col" class="align-middle fluid-column"
          [attr.colspan]="reservePerformanceColumn && !performanceLabel ? 2 : 1">Nom d'équipe</th>
        <th *ngIf="performanceLabel" scope="col" class="align-middle compact-column">{{ performanceLabel }}</th>
        <th *ngIf="viewPoints" scope="col" class="align-middle compact-column">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ranking of teamRanking; trackBy: trackTeam">
        <th scope="row" class="align-middle compact-column">{{ranking.order}}</th>
        <td class="align-middle compact-column">{{ranking.team}}</td>
        <td class="align-middle fluid-column"
          [attr.colspan]="reservePerformanceColumn && !performanceLabel ? 2 : 1">{{teams[ranking.team]?.name}}</td>
        <td *ngIf="performanceLabel" class="align-middle compact-column">
          {{ performanceValues?.[ranking.team] | performanceValue:performanceDefinition }}
        </td>
        <td *ngIf="viewPoints" class="align-middle compact-column">{{ranking.total}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
