<div class="container mb-5" *ngIf="teamInfo">
  <div class="row mt-4 text-center">
    <h1 class="col-12">Avancement</h1>
  </div>
  <div class="row mt-4">
    <div class="col-12 px-0 py-1 bg-secondary">
      <h4 class="my-auto text-center text-white">Equipe {{teamInfo.team}} ({{teamInfo.name}})</h4>
    </div>
  </div>
  <div class="row mt-0">
    <table class="col-12 table table-sm align-items-center text-center">
      <thead class="bg-light">
        <tr>
          <th scope="col" class="align-middle">#</th>
          <th scope="col" class="align-middle">Epreuve</th>
          <th scope="col" class="align-middle">Statut</th>
          <th scope="col" class="align-middle">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stageParam of stageParams">
          <th scope="row" class="align-middle">{{stageParam.stage}}</th>
          <td class="align-middle">{{stageParam.name}}</td>
          <td class="align-middle">
            <div *ngIf="stages[stageParam.stage] && stages[stageParam.stage].begin && !stages[stageParam.stage].end">
              Epreuve en cours</div>
            <div *ngIf="stages[stageParam.stage] && stages[stageParam.stage].begin && stages[stageParam.stage].end">
              Epreuve achevée</div>
            <div *ngIf="!stages[stageParam.stage] || !stages[stageParam.stage].begin">Epreuve non réalisée</div>
          </td>
          <td class="align-middle">
            <div class="">
              <button class="btn btn-outline-success ml-1" type="button"
                *ngIf="stages[stageParam.stage] && stages[stageParam.stage].begin && !stages[stageParam.stage].end"
                (click)="onStopStage(stageParam.stage)">Terminer</button>
              <button class="btn btn-outline-primary ml-1" type="button"
                *ngIf="!stages[stageParam.stage] || !stages[stageParam.stage].begin"
                (click)="onStartStage(stageParam.stage)">Commencer</button>
              <button class="btn btn-outline-danger ml-1" type="button"
                *ngIf="stages[stageParam.stage] && stages[stageParam.stage].begin && !stages[stageParam.stage].end"
                (click)="onCancelStage(stageParam.stage)">Annuler</button>
              <button class="btn btn-outline-danger ml-1" type="button"
                *ngIf="stages[stageParam.stage] && stages[stageParam.stage].begin && stages[stageParam.stage].end"
                (click)="onUndoStage(stageParam.stage)">Reprendre</button>
              <button class="btn btn-outline-info ml-1" type="button" *ngIf="stages[stageParam.stage]"
                routerLink="/stage/{{teamInfo.team}}/{{stageParam.stage}}">Détails</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
