<div class="container mb-5" *ngIf="teamInfo">
  <div class="row mt-4 text-center">
    <h1 class="col-12">Progression des équipes</h1>
  </div>
  <div class="row mt-4">
    <div class="col-12 py-1 bg-secondary">
      <h4 class="my-auto text-center text-white">Équipe {{teamInfo.team}} - {{teamInfo.name}}</h4>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mt-4 mx-n4">
    <ng-template ngFor let-stageParam [ngForOf]="stageParams">
      <div class="col mb-4">
        <div *ngIf="stages[stageParam.stage] && stages[stageParam.stage].begin && !stages[stageParam.stage].end"
          class="card border-primary h-100">
          <div class="card-header font-weight-bold" *ngIf="!stages[stageParam.stage]?.checked">{{stageParam.name}}</div>
          <div class="card-header font-weight-bold text-white bg-primary" *ngIf="stages[stageParam.stage]?.checked">
            {{stageParam.name}}</div>
          <div class="card-body text-primary">
            <div>Épreuve {{stageParam.stage}} en cours.</div>
          </div>
          <div class="card-footer text-center">
            <div class="btn-group">
              <button class="btn btn-sm btn-success" type="button"
                (click)="onStopStage(stageParam.stage)">Terminer</button>
              <button class="btn btn-sm btn-danger" type="button"
                (click)="onCancelStage(stageParam.stage)">Annuler</button>
              <button class="btn btn-sm btn-primary" type="button"
                routerLink="/stage/{{teamInfo.team}}/{{stageParam.stage}}">Détails</button>
            </div>
          </div>
        </div>
        <div *ngIf="stages[stageParam.stage] && stages[stageParam.stage].begin && stages[stageParam.stage].end"
          class="card border-success h-100">
          <div class="card-header font-weight-bold" *ngIf="!stages[stageParam.stage]?.checked">{{stageParam.name}}</div>
          <div class="card-header font-weight-bold text-white bg-success" *ngIf="stages[stageParam.stage]?.checked">
            {{stageParam.name}}</div>
          <div class="card-body text-success">
            <div>Épreuve {{stageParam.stage}} achevée.</div>
          </div>
          <div class="card-footer text-center">
            <div class="btn-group">
              <button class="btn btn-sm btn-danger" type="button"
                (click)="onUndoStage(stageParam.stage)">Reprendre</button>
              <button class="btn btn-sm btn-primary" type="button"
                routerLink="/stage/{{teamInfo.team}}/{{stageParam.stage}}">Détails</button>
            </div>
          </div>
        </div>
        <div *ngIf="!stages[stageParam.stage] || !stages[stageParam.stage].begin" class="card h-100">
          <div class="card-header font-weight-bold">{{stageParam.name}}</div>
          <div class="card-body">
            <div>Épreuve {{stageParam.stage}} non réalisée.</div>
          </div>
          <div class="card-footer text-center">
            <div class="btn-group">
              <button class="btn btn-sm btn-success" type="button"
                (click)="onStartStage(stageParam.stage)">Commencer</button>
              <button class="btn btn-sm btn-primary" type="button" *ngIf="stages[stageParam.stage]"
                routerLink="/stage/{{teamInfo.team}}/{{stageParam.stage}}">Détails</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
