<div *ngIf="teamInfo">
  <h1>{{teamInfo.team}} - {{teamInfo.name}}</h1>
  <div *ngFor="let stageParam of stageParams">{{stageParam.stage}} - {{stageParam.name}}
    <span *ngIf="stages[stageParam.stage] && stages[stageParam.stage].begin && !stages[stageParam.stage].end"> (En
      cours)</span>
    <span *ngIf="stages[stageParam.stage] && stages[stageParam.stage].begin && stages[stageParam.stage].end">
      (Fini)</span>
    <span *ngIf="!stages[stageParam.stage] || !stages[stageParam.stage].begin"> (Pas fait)</span>
    <button type="button"
      *ngIf="stages[stageParam.stage] && stages[stageParam.stage].begin && !stages[stageParam.stage].end"
      (click)="onStopStage(stageParam.stage)">Finir</button>
    <button type="button" *ngIf="!stages[stageParam.stage] || !stages[stageParam.stage].begin"
      (click)="onStartStage(stageParam.stage)">Démarrer</button>
    <button type="button"
      *ngIf="stages[stageParam.stage] && stages[stageParam.stage].begin && !stages[stageParam.stage].end"
      (click)="onCancelStage(stageParam.stage)">Annuler</button>
    <button type="button"
      *ngIf="stages[stageParam.stage] && stages[stageParam.stage].begin && stages[stageParam.stage].end"
      (click)="onUndoStage(stageParam.stage)">Annuler</button>
    <button type="button" *ngIf="stages[stageParam.stage]"
      routerLink="/stage/{{teamInfo.team}}/{{stageParam.stage}}">Detail</button>
  </div>
</div>
