.default-point {
  background: blue;
  border: 1px solid lightcyan;
}

.valid-point {
  background: rgb(0, 255, 0);
  border: 1px solid lightgreen;
}

.invalid-point {
  background: red;
  border: 1px solid pink;
}
