<div class="container-fluid">
  <div class="row justify-content-center">
    <button type="button" class="btn btn-link" (click)="openModifyUpload()">Etape : {{fileUpload.stage}}, Page :
      {{fileUpload.page}}, Equipe : {{fileUpload.team}}</button>
  </div>
  <div class="row justify-content-center">
    <app-details-template [template]="template" (endDragEvent)="endDrag($event)" class="col-8"></app-details-template>
  </div>
  <div *ngIf="fileUpload.active" class="row justify-content-center">
    <button type="button" class="btn btn-success" (click)="check()">Vérifié</button>
  </div>
  <div *ngIf="!fileUpload.active" class="row justify-content-center">
    <button type="button" class="btn btn-warning" (click)="check()">Ignorer</button>
    <button type="button" class="btn btn-primary" (click)="activate()">Sélectioner</button>
  </div>
</div>
