@import "node_modules/bootstrap/scss/functions";
$theme-colors: (
  "success": #557b3a,
  "danger": #ad4545,
);
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

:host {
  display: inline-block;
  width: 33px;
  min-width: 33px;
  height: 20px;
  vertical-align: middle;
}

.toggle-switch {
  height: 20px;
  width: 33px;
  display: inline-block;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  input {
    display: none;
    &:checked + .slider {
      background-color: map-get($theme-colors, "success");
    }
    &:checked + .slider::after {
      -webkit-transform: translate(12px, -50%);
      -ms-transform: translate(12px, -50%);
      transform: translate(12px, -50%);
    }
    &:indeterminate + .slider {
      background-color: $gray-400;
    }
    &:indeterminate + .slider::after {
      -webkit-transform: translate(6px, -50%);
      -ms-transform: translate(6px, -50%);
      transform: translate(6px, -50%);
    }
    &:disabled + .slider {
      opacity: 0.30;
    }
    &:disabled + .slider::after {
      border: 0px inset;
    }
  }
  .light {
    + .slider {
      opacity: 0.60;
    }
  }

  .slider {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: map-get($theme-colors, "danger");
    transition: 0.25s;

    &::after {
      position: absolute;
      content: "";
      height: 16px;
      width: 18px;
      background-color: white;
      left: 2px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      transition: 0.25s;
      border-radius: 10px;
      border: 1px solid;
    }
  }
}
