<div class="container-fluid mb-5">
  <div class="row mt-4 justify-content-center">
    <div class="ml-0 mr-4 d-flex align-self-center">
      <img src="..\assets\Logo.png" class="img-fluid" width="100">
    </div>
    <h1 class="d-flex align-self-center text-center">Application de gestion des équipes</h1>
  </div>

  <div class="row mt-4 justify-content-center">
    <div>
      <p>Bienvenue sur l’application de gestion des équipes du Rallye Schéma !</p>
      <ul class="list-unstyled">
        <li>Grâce à cette application, vous pourrez :</li>
        <ul>
          <li>suivre l’avancement des équipes au cours de la journée,</li>
          <li>importer les feuilles de réponses corrigées des épreuves pour établir automatiquement leur notation,</li>
          <li>vous interfacer avec l’application des joueurs pour récupérer automatiquement leurs résultats,</li>
          <li>entrer directement les performances réalisées par les équipes lors des différentes épreuves,</li>
          <li>générer le classement général des équipes ainsi que le classement à chaque épreuves.</li>
        </ul>
      </ul>
    </div>
  </div>
</div>
