<div class="container-fluid mb-5">
  <div class="row mt-4 justify-content-center text-center">
    <div class="col-12 d-flex flex-column align-items-center">
      <img src="../assets/Logo.png" class="img-fluid mb-3" width="120" alt="Logo">
      <h1 class="mb-0">Application de gestion des &eacute;quipes</h1>
    </div>
  </div>

  <div class="row mt-4 justify-content-center">
    <div class="col-auto text-left">
      <p>Bienvenue sur l'application de gestion des &eacute;quipes du Rallye Sch&eacute;ma&nbsp;!</p>
      <ul class="list-unstyled">
        <li>
          Gr&acirc;ce &agrave; cette application, vous pourrez&nbsp;:
          <ul>
            <li>suivre l'avancement des &eacute;quipes au cours de la journ&eacute;e,</li>
            <li>importer les feuilles de r&eacute;ponses corrig&eacute;es des &eacute;preuves pour &eacute;tablir automatiquement leur notation,</li>
            <li>vous interfacer avec l'application des joueurs pour r&eacute;cup&eacute;rer automatiquement leurs r&eacute;sultats,</li>
            <li>entrer directement les performances r&eacute;alis&eacute;es par les &eacute;quipes lors des diff&eacute;rentes &eacute;preuves,</li>
            <li>g&eacute;n&eacute;rer le classement g&eacute;n&eacute;ral des &eacute;quipes ainsi que le classement &agrave; chaque &eacute;preuve.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
