<div class="panel panel-default">
  <div *ngIf="currentFileUpload" >
    <ngb-progressbar [showValue]="true" type="info" [value]="progress.percentage" max="100" [striped]="true" [animated]="true">
    </ngb-progressbar>
  </div>

  <div class="input-group">
    <div class="custom-file">
      <input type="file" class="custom-file-input" multiple id="importFile"
        (change)="selectFile($event.target.files)">
      <label class="custom-file-label" #labelImport for="importFile"><i class="fas fa-search"></i> Choose file</label>
    </div>
    <div class="input-group-append">
      <button class="btn-outline-secondary" ngbButtonLabel [disabled]="!selectedFiles"
        (click)="upload()">Upload</button>
    </div>
  </div>
  <!--  <label class="btn-default" ngbButtonLabel>
    <input type="file" (change)="selectFile($event)">
  </label>

  <button class="btn-success" ngbButtonLabel [disabled]="!selectedFiles" (click)="upload()">Upload</button> -->
</div>
