version: '3.7'
services:
  form-scanner-webapp:
    container_name: "form-scanner-webapp"
    image: form-scanner-webapp:dev
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - '.:/app'
      - '/app/node_modules'
    ports:
      - '4201:4200'
