<h1 id="ranking_title">Classement - {{rankingTitle}}</h1>
<table class="table" aria-describedby="ranking_title" *ngIf="teamRanking" #ranking_table>
  <thead class="thead-light">
    <tr>
      <th scope="col" style="width: 8.33%">Classement</th>
      <th scope="col" style="width: 16.66%">N° d’équipe</th>
      <th scope="col">Nom d’équipe</th>
      <th scope="col" style="width: 8.33%">Points</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ranking of teamRanking">
      <th scope="row">{{ranking.order}}</th>
      <td>{{ranking.team}}</td>
      <td>{{teamInfos[ranking.team]?.name}}</td>
      <td>{{ranking.total}}</td>
    </tr>
  </tbody>
</table>
