<div>
  <h1>Etape : {{stage.stage}}, Equipe : {{stage.team}}</h1>
  <div class="container-fluid">
    <div >
      <div *ngIf="files" class="row align-items-start container">
        <div *ngFor="let file of files | async" class="col-6">
          <div style="position: relative;" class="response-file">
            <img src="http://localhost:8080/downloadResponseFile/{{file.id}}"
              alt="Etape : {{file.stage}}, Page : {{file.page}}, Equipe : {{file.team}}"
              style="width: 100%; height: auto;" />
          </div>
        </div>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="container">
        <div class="row">
          <div *ngFor="let result of results.controls" class="col-6 col-lg-3 col-sm-6 col-md-4">
            <div [formGroup]="result" class="row">
              <label class="col align-self-center">{{result.value.name}}</label>
              <div class="col-auto align-self-center">
                <ui-switch formControlName="resultValue" size="small" class="col-auto"></ui-switch>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <label class="col-auto align-self-center">Vérifié</label>
            <div class="col-auto align-self-center">
              <ui-switch formControlName="checked" size="small" class="col-auto"></ui-switch>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary mr-1">Modifier</button>
        </div>
      </form>
    </div>
  </div>
</div>
