<div class="container-fluid">
  <div class="row justify-content-center" *ngIf="param">
    <h1>Épreuve {{param.stage}} / Page {{param.page}}</h1>
  </div>
  <div *ngIf="param" class="row justify-content-center">
    <app-details-template-param [param]="param" [modelUrl]="modelUrl"></app-details-template-param>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-auto">
      <button class="btn btn-primary w-auto"  (click)='openModifyResponseFileParam()' type="button">
        Modifier
      </button>
    </div>
    <div class="col-auto">
      <button class="btn btn-danger w-auto"  (click)='deleteResponseFileParam()' type="button">
        Supprimer
      </button>
    </div>
  </div>
</div>
