<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="mb-5" *ngIf="stageParam">
  <div class="row mt-4 text-center">
    <h1 class="col-12">Epreuve {{stageParam.stage}}: {{stageParam.name}}</h1>
  </div>
  <form [formGroup]="stageParamForm" (ngSubmit)="onSubmit()" class="container">

    <div class="col-12" id="accordion">

      <!---->
      <div class="card mt-2 border-0">
        <div class="card-header p-0 bg-secondary" id="StageParamHeader">
          <div class="row">
            <div class="col-9 align-self-center text-center ">
              <button class="btn btn-link text-white" data-toggle="collapse" data-target="#stageParamBody" aria-expanded="false" aria-controls="stageParamBody">
                <h4>
                  <span>Paramétrage de l'épreuve</span>
                  <i class="mx-5 fa fa-chevron-down rotate-icon"></i>
                </h4>
              </button>
            </div>
            <div class="col-3 align-self-center text-center">
            </div>
          </div>
        </div>
        <div id="stageParamBody" class="collapse show" aria-labelledby="stageParamHeader" data-parent="#accordion">
          <div class="card-body">
            <div class="card border-secondary mb-3">
              <div class="card-header font-weight-bold">Epreuve {{stageParam.stage}}</div>
              <div class="card-body">
                <div class="m-0 px-1 py-0">
                  <div>
                    <label class="m-0 border" style="width: 500px;">Nom de l'épreuve :</label>
                  </div>
                  <input class="m-0 border" style="width: 500px;" type="text" formControlName="name">
                  <div class="mt-4 py-0 border">
                    <label class="my-auto mr-2 ml-0 p-0 border">Activation de l'épreuve :</label>
                    <ui-switch class="my-auto mx-0" formControlName="inactive" size="small"></ui-switch>
                  </div>
                </div>
              </div>
              <div class="card-footer text-center">
                <button type="button" class="mx-2 btn btn-sm btn-success" style="width: 90px;">Valider</button>
                <button type="button" class="mx-2 btn btn-sm btn-danger" style="width: 90px;">Supprimer</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!---->
      <div class="card mt-2 border-0">
        <div class="card-header p-0 bg-secondary" id="responseFormParamHeader">
          <div class="row">
            <div class="col-9 align-self-center text-center ">
              <button class="btn btn-link text-white" data-toggle="collapse" data-target="#responseFormParamBody" aria-expanded="false" aria-controls="responseFormParamBody">
                <h4>
                  <span>Paramétrage du formulaire de réponses</span>
                  <i class="mx-5 fa fa-chevron-down rotate-icon"></i>
                </h4>
              </button>
            </div>
            <div class="col-3 align-self-center text-center">
              <button class="btn btn-primary" style="width: 210px;" (click)='addResponseFileParam()'>Ajouter une page</button>
            </div>
          </div>
        </div>
        <div id="responseFormParamBody" class="collapse show" aria-labelledby="responseFormParamHeader" data-parent="#accordion">
          <div class="card-body">
            <div class="row justify-content-center" *ngIf='responseFileParamUrls'>
              <div class="card-deck">
                <div *ngFor="let responseFileParamUrl of responseFileParamUrls">
                  <app-details-response-file-param [paramUrl]='responseFileParamUrl'
                    (deleteEvent)="onDeleteResponseFileParam($event)">
                  </app-details-response-file-param>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!---->
      <div class="card mt-2 border-0">
        <div class="card-header p-0 bg-secondary" id="questionParamHeader">
          <div class="row">
            <div class="col-9 align-self-center text-center">
                <button class="btn btn-link text-white" data-toggle="collapse" data-target="#questionParamBody" aria-expanded="false" aria-controls="questionParamBody">
                  <h4>
                    <span>Paramétrage des questions</span>
                    <i class="mx-5 float-right black-text fa fa-chevron-down rotate-icon"></i>
                  </h4>
              </button>
            </div>
            <div class="col-3 align-self-center text-center">
              <button class="btn btn-primary" style="width: 210px;">Ajouter une question</button>
            </div>
          </div>
        </div>
        <div id="questionParamBody" class="collapse show" aria-labelledby="questionParamHeader" data-parent="#accordion">
          <div class="card-body">
            <div *ngIf="questionPointParams.controls.length > 0">
              <div class="row justify-content-center">
                <div class="card-deck">
                  <div *ngFor="let questionPointParam of questionPointParams.controls; index as questionIndex">
                    <div class="card border-secondary mb-3">
                      <div class="card-header font-weight-bold">{{questionPointParam.value.name}}</div>
                      <div class="card-body">
                        <div class="px-1 py-0" [formGroup]="questionPointParam">
                          <label class="my-auto mr-2 ml-0 p-0">Points : </label>
                          <input class="my-auto mx-0" style="width: 70px;" type="number" formControlName="point">
                        </div>
                        <div class="mt-3 px-1 py-0">
                          <label class="my-auto mr-2 ml-0 p-0">Relevée par le staff :</label>
                          <ui-switch class="my-auto mx-0" formControlName="staff" size="small"></ui-switch>
                        </div>
                      </div>
                      <div class="card-footer text-center">
                        <button type="button" class="mx-2 btn btn-sm btn-success" style="width: 90px;">Valider</button>
                        <button type="button" class="mx-2 btn btn-sm btn-danger" style="width: 90px;" (click)="removeQuestionParam(questionIndex)">Supprimer</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---->

      <div class="card mt-2 border-0">
        <div class="card-header p-0 bg-secondary" id="perfParamHeader">
          <div class="row">
            <div class="col-9 align-self-center text-center">
              <button class="btn btn-link text-white" data-toggle="collapse" data-target="#perfParamBody" aria-expanded="false" aria-controls="perfParamBody">
                <h4>Paramétrage des performances<i class="mx-5 fa fa-chevron-down rotate-icon"></i></h4>
              </button>
            </div>
            <div class="col-3 align-self-center text-center">
              <button class="btn btn-primary" style="width: 210px;">Ajouter une performance</button>
            </div>
          </div>
        </div>

        <div id="perfParamBody" class="collapse show" aria-labelledby="perfParamHeader" data-parent="#accordion">
          <div class="card-body">
            <div *ngIf="performancePointParams.controls.length > 0">
              <div *ngFor="let performancePointParam of performancePointParams.controls ; index as perfIndex" class="row mb-4">
                <div class="col-12" [formGroup]="performancePointParam">

                  <!-- TODO à supprimer -->
                  <div class="row m-2">
                    <label class="col-12">{{performancePointParam.value.name}} - A SUPPRIMER</label>
                    <div class="col-12 align-self-center">
                      <div *ngFor="let range of getRanges(performancePointParam).controls">
                        <div [formGroup]="range" class="row">
                          <div class="col-12 align-self-center">
                              <div class="row">
                              <select class="form-group custom-select" formControlName="type">
                                <option value="VALUE">le score réalisé.</option>
                                <option value="BEGIN_DOWN_RANK">la date de passage de l'épreuve (la meilleure équipe est celle qui commence l'épreuve en dernier).</option>
                                <option value="BEGIN_UP_RANK">la date de passage de l'épreuve (la meilleure équipe est celle qui commence l'épreuve en premier).</option>
                                <option value="END_DOWN_RANK">la date de passage de l'épreuve (la meilleure équipe est celle qui termine l'épreuve en dernier).</option>
                                <option value="END_UP_RANK">la date de passage de l'épreuve (la meilleure équipe est celle qui termine l'épreuve en premier).</option>
                                <option value="PERF_DOWN_RANK">le classement des équipes à l'épreuve (la meilleure équipe est celle qui obtient le plus grand des résultats).</option>
                                <option value="PERF_UP_RANK">le classement des équipes à l'épreuve (la meilleure équipe est celle qui obtient le plus petit des résultats).</option>
                                <option value=""></option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- fin TODO à supprimer -->

                  <div class="card border-secondary mb-3">
                    <div class="card-header font-weight-bold">{{performancePointParam.value.name}}</div>
                    <div class="card-body">
                      <div *ngFor="let range of getRanges(performancePointParam).controls ; let rangeIndex = index;" class="row mt-2 d-flex justify-content-center">
                        <div class="col-4 m-0 px-1 py-0 align-self-center" id="{{'perfPointAllocationType_' + perfIndex + '_'+ rangeIndex}}">
                          <label class="m-0 p-0 align-self-center">Attribution de points selon :</label>
                          <select class='form-control custom-select' (change)="onPerfPointAllocationType($event.target.value, perfIndex, rangeIndex)">
                            <option value=""></option>
                            <option value="SCORE">le score réalisé.</option>
                            <option value="DATE">l'ordre de passage des équipes.</option>
                            <option value="RANK">le classement l'épreuve.</option>
                          </select>
                        </div>
                        <div class="col-4 m-0 px-1 py-0 align-self-center">
                          <div id="{{'perfDateRankingType_' + perfIndex + '_'+ rangeIndex}}">
                            <label class="m-0 p-0 align-self-center">La meilleure équipe est celle qui :</label>
                            <select class='form-control custom-selec'>
                              <option value=""></option>
                              <option value="FIRST_TO_BEGIN">commence l'épreuve en premier.</option>
                              <option value="LAST_TO_BEGIN">commence l'épreuve en dernier.</option>
                              <option value="FIRST_TO_END">termine l'épreuve en premier.</option>
                              <option value="LAST_TO_END">termine l'épreuve en dernier.</option>
                            </select>
                          </div>
                          <div id="{{'perfResultRankingType_' + perfIndex + '_'+ rangeIndex}}">
                            <label class="m-0 p-0 align-self-center">La meilleure équipe est celle qui :</label>
                            <select class ='form-control custom-select'>
                              <option value=""></option>
                              <option value="HAS_SMALLEST_RESULT">obtient le plus petit des résultats.</option>
                              <option value="HAS_BIGGEST_RESULT">obtient le plus grand des résultats.</option>
                            </select>
                          </div>
                          <div id="{{'perfVoidType_' + perfIndex + '_'+ rangeIndex}}">
                            <label class="m-0 p-0 align-self-center">-</label>
                            <select class='form-control custom-selec' disabled>
                              <option value=""></option>
                            </select>
                          </div>
                        </div>
                        <div class="col-3 m-0 px-1 py-0 align-self-center">
                          <label class="col-12 m-0 p-0" id="{{'perfScoreIntervLabel_' + perfIndex + '_'+ rangeIndex}}">Score :</label>
                          <label class="col-12 m-0 p-0" id="{{'perfResultRankingIntervLabel_' + perfIndex + '_'+ rangeIndex}}">Rang :</label>
                          <label class="col-12 m-0 p-0" id="{{'perfDateRankingIntervLabel_' + perfIndex + '_'+ rangeIndex}}">N° de passage :</label>
                          <label class="col-12 m-0 p-0" id="{{'perfVoidIntervLabel_' + perfIndex + '_'+ rangeIndex}}">-</label>
                          <div class="col-12 m-0 p-1 border rounded">
                            <div class="col-1 p-0 d-inline-block align-self-center text-left">] </div>
                            <input class="col-4 d-inline-block align-self-center" type="number" formControlName="begin">
                            <div class="col-2 p-0 d-inline-block align-self-center text-center"> ; </div>
                            <input class="col-4 d-inline-block align-self-center" type="number" formControlName="end">
                            <div class="col-1 p-0 d-inline-block align-self-center text-right"> ]</div>
                          </div>
                        </div>
                        <div class="col-1 m-0 px-1 py-0 align-self-center">
                          <label class="col-12 m-0 p-0 align-self-center">Points :</label>
                          <div class="col-12 m-0 p-1 border rounded">
                            <input class="col-12 d-inline-block" type="number" formControlName="point">
                          </div>
                        </div>
                      </div>
                      <div class="row mt-4">
                        <div class="col-12 m-0 px-1 py-0">
                          <label class="my-auto mr-2 ml-0 p-0">Relevée par le staff :</label>
                          <ui-switch class="my-auto mx-0" formControlName="staff" size="small"></ui-switch>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer text-center">
                      <button type="button" class="mx-4 btn btn-success" style="width: 100px;">Valider</button>
                      <button type="button" class="mx-4 btn btn-danger" style="width: 100px;" (click)="removeQuestionParam(perfIndex)">Supprimer</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!---->
    </div>
  </form>
</div>
