<div class="container-fuid mb-5">

  <div class="row mt-4">
    <div class="col-12">
      <h1 class="text-center">Vérification de l'import des formulaires de réponses</h1>
    </div>
  </div>

  <div *ngIf='(fileUploads | async) && (fileUploads | async)._embedded && (fileUploads | async)._embedded.responseFileInfoes'>
    <div *ngFor="let file of (fileUploads | async)._embedded.responseFileInfoes">
      <div *ngIf="!file.checked">

        <div class="row mt-4">
          <div class="col-12 justify-content-center">
            <app-details-upload [fileUpload]='file' (checkedEvent)="file.checked = true" (deleteEvent)="file.checked = true"></app-details-upload>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
