<div class="container-fluid">

  <header class="row mt-4 text-center">
    <div class="col-12">
      <h1>Vérification de l'import des formulaires de réponses</h1>
    </div>
  </header>

  <div *ngIf='(fileUploads | async) && (fileUploads | async)._embedded && (fileUploads | async)._embedded.responseFileInfoes'>
    <div *ngFor="let file of (fileUploads | async)._embedded.responseFileInfoes">
      <div *ngIf="!file.checked">

        <div class="row justify-content-center my-4">
          <main class="col-12">
            <app-details-upload [fileUpload]='file'
            (checkedEvent)="file.checked = true"
            (deleteEvent)="file.checked = true">
            </app-details-upload>

          </main>
        </div>

      </div>
    </div>
  </div>

</div>





      <!--


  <div class="row" *ngIf='(fileUploads | async) && (fileUploads | async)._embedded && (fileUploads | async)._embedded.responseFileInfoes'>


  <div class="panel panel-primary">
    <div class="panel-heading">Liste des feuilles de réponses</div>


    <div
      *ngIf='(fileUploads | async) && (fileUploads | async)._embedded && (fileUploads | async)._embedded.responseFileInfoes'>
      <div *ngFor="let file of (fileUploads | async)._embedded.responseFileInfoes">

        <div class="panel-body" *ngIf="!file.checked">
          <app-details-upload [fileUpload]='file' (checkedEvent)="file.checked = true"
            (deleteEvent)="file.checked = true"></app-details-upload>
        </div>
      </div>
    </div>
  </div>


</div>
-->
