<div *ngIf="point.stagePoints">
  <div *ngFor="let stagePoint of point.stagePoints | keyvalue">
    <div *ngIf="stagePoint.value.total > 0">

      <div class="row mt-4">
        <div class="col-12 py-1 bg-info">
          <h2 id="ranking_title" class="text-center text-white">Equipe {{point.team}} / Epreuve {{stagePoint.value.stage}}</h2>
        </div>
      </div>

      <div class="row mt-4">
        <div class="details-point col-12">
          <div *ngFor="let question of stagePoint.value.questions" class="row">
            <div >{{question.name}}: {{question.total}} pts.</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
