<div class="container-fluid home-page">
  <div class="row mt-4 text-center">
    <h1 class="col-12 page-title-with-subtitle">Bienvenue dans Rallye Sch&eacute;ma
      <span class="page-title-subtitle">Toute l'organisation du rallye r&eacute;unie dans un m&ecirc;me espace.</span>
    </h1>
  </div>

  <div class="row justify-content-center home-content-row">
    <div class="col-12 col-lg-9 col-xl-8">
      <div class="home-overview">
        <section class="home-introduction">
          <img src="assets/Logo.png" class="home-logo" alt="Logo du Rallye Sch&eacute;ma">
          <h2>Pr&ecirc;t pour le rallye&nbsp;?</h2>
          <p>
          Bienvenue dans votre poste de pilotage&nbsp;! Rallye Sch&eacute;ma accompagne les organisateurs avant,
          pendant et apr&egrave;s la journ&eacute;e. Chacun peut se concentrer sur sa mission pendant que
          l'application rassemble les informations et tient les r&eacute;sultats &agrave; jour.
        </p>
        <p>Depuis les menus, vous pouvez notamment&nbsp;:</p>
        <ul>
          <li>pr&eacute;parer les &eacute;quipes, les groupes et les &eacute;preuves du rallye&nbsp;;</li>
          <li>noter les arriv&eacute;es, les d&eacute;parts et suivre les &eacute;preuves jou&eacute;es par chaque &eacute;quipe&nbsp;;</li>
          <li>saisir directement les performances et les validations communiqu&eacute;es aux arbitres&nbsp;;</li>
          <li>importer des formulaires num&eacute;ris&eacute;s ou les photographier depuis un smartphone&nbsp;;</li>
          <li>v&eacute;rifier les formulaires, valider les corrections et rectifier manuellement un r&eacute;sultat si n&eacute;cessaire&nbsp;;</li>
          <li>consulter les classements en direct, le d&eacute;tail des points et la distribution des lots&nbsp;;</li>
          <li>sauvegarder la base du rallye afin de l'archiver, de la restaurer ou de l'analyser plus tard.</li>
        </ul>
        <p class="home-closing">
          Choisissez simplement votre activit&eacute; dans le menu. Et rassurez-vous&nbsp;: ici, la boussole est
          fournie, m&ecirc;me pour celles et ceux qui ont un talent particulier pour se perdre dans les menus&nbsp;!
        </p>
        </section>
      </div>
    </div>
  </div>
</div>
